---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/artists/253846/gigography.json?apikey=hFYxiInE4DBpH5KL
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"ok","results":{"event":[{"type":"Concert","displayName":"Radiohead
        at The Holly Bush Inn (July 22, 1991)","status":"ok","location":{"lat":51.7511516,"lng":-1.2737113,"city":"Oxford,
        UK"},"venue":{"metroArea":{"displayName":"Oxford","uri":"http://www.songkick.com/metro_areas/24500-uk-oxford?utm_source=4791&utm_medium=partner","country":{"displayName":"UK"},"id":24500},"lat":51.7511516,"displayName":"The
        Holly Bush Inn","lng":-1.2737113,"uri":"http://www.songkick.com/venues/49579-holly-bush-inn?utm_source=4791&utm_medium=partner","id":49579},"start":{"datetime":null,"time":null,"date":"1991-07-22"},"performance":[{"displayName":"Radiohead","billingIndex":1,"artist":{"displayName":"Radiohead","uri":"http://www.songkick.com/artists/253846-radiohead?utm_source=4791&utm_medium=partner","identifier":[{"mbid":"a74b1b7f-71a5-4011-9441-d0b5e4122711","href":"http://api.songkick.com/api/3.0/artists/mbid:a74b1b7f-71a5-4011-9441-d0b5e4122711.json"}],"id":253846},"id":737875,"billing":"headline"}],"popularity":0.750694,"uri":"http://www.songkick.com/concerts/504768-radiohead-at-holly-bush-inn?utm_source=4791&utm_medium=partner","id":504768},{"displayName":"Radiohead
        with On a Friday at Jericho Tavern (August 8, 1991)","type":"Concert","status":"ok","venue":{"displayName":"Jericho
        Tavern","lat":51.7602063,"lng":-1.2665389,"uri":"http://www.songkick.com/venues/3291-jericho-tavern?utm_source=4791&utm_medium=partner","id":3291,"metroArea":{"displayName":"Oxford","country":{"displayName":"U[...]
