---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/artists/109675/calendar/performances.json?apikey=hFYxiInE4DBpH5KL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sinatra-Route:
      - GET /api/3.0/artists/:id/calendar/performances.:format
    body:
      encoding: ASCII-8BIT
      string: '{"resultsPage":{"status":"ok","results":{"performance":[{"billing":"headline","displayName":"Senses
        Fail","billingIndex":1,"artist":{"displayName":"Senses Fail","uri":"http://www.songkick.com/artists/109675-senses-fail?utm_source=4791&utm_medium=partner","id":109675,"identifier":[{"href":"http://api.songkick.com/api/3.0/artists/mbid:b4946461-dacb-4aa9-a77c-7b3231317794.json","mbid":"b4946461-dacb-4aa9-a77c-7b3231317794"}]},"id":55501379,"event":{"type":"Concert","performance":[{"billing":"headline","displayName":"Senses
        Fail","billingIndex":1,"artist":{"displayName":"Senses Fail","uri":"http://www.songkick.com/artists/109675-senses-fail?utm_source=4791&utm_medium=partner","id":109675,"identifier":[{"href":"http://api.songkick.com/api/3.0/artists/mbid:b4946461-dacb-4aa9-a77c-7b3231317794.json","mbid":"b4946461-dacb-4aa9-a77c-7b3231317794"}]},"id":55501379},{"billing":"support","displayName":"Like
        Pacific","billingIndex":2,"artist":{"displayName":"Like Pacific","uri":"http://www.songkick.com/artists/5218553-like-pacific?utm_source=4791&utm_medium=partner","id":5218553,"identifier":[{"href":"http://api.songkick.com/api/3.0/artists/mbid:b697ecde-c617-4e7a-9032-41e2235d6db6.json","mbid":"b697ecde-c617-4e7a-9032-41e2235d6db6"}]},"id":56134999}],"status":"ok","displayName":"Senses
        Fail with Like Pacific at The Observatory North Park (March 3, 2017)","start":{"time":"19:30:00","datetime":"2017-03-03T19:30:00-0800","date":"2017-03-03"},"ageRestriction":null,"location":{"lat":32.7481756,"lng":-117.131383,"city":"San
        Diego, CA, US"},"venue":{"lat":32.7481756,"lng":-117.131383,"displayName":"The
        Observatory North Park","uri":"http://www.songkick.com/venues/2856348-observatory-north-park?utm_source=4791&utm_medium=partner","metroArea":{"displayName":"San
        Diego","country":{"displayName":"US"},"uri":"http://www.songkick.com/metro_areas/11086-us-san-diego?utm_source=4791&utm_medium=partner","id":11086,"state":{"displayName":"CA"}},"id":2856348},"popularity":0.044694,"uri":"http://www.songkick.com/concerts/28569054-senses-fail-at-observatory-north-park?utm_source=4791&utm_medium=partner","id":28569054},"date":null},{"billingIndex":1,"billing":"headline","artist":{"identifier":[{"mbid":"b4946461-dacb-4aa9-a77c-7b3231317794","href":"http://api.songkick.com/api/3.0/artists/mbid:b4946461-dacb-4aa9-a77c-7b3231317794.json"}],"displayName":"Senses
        Fail","uri":"http://www.songkick.com/artists/109675-senses-fail?utm_source=4791&utm_medium=partner","i[...]
