---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/search/artists.json?apikey=hFYxiInE4DBpH5KL&query=Counterparts
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"ok","results":{"artist":[{"onTourUntil":"2014-06-20","identifier":[{"eventsHref":"http://api.songkick.com/api/3.0/artists/mbid:4b0dd5e7-c795-42bd-8311-bc9f71fabd0a/calendar.json","setlistsHref":"http://api.songkick.com/api/3.0/artists/mbid:4b0dd5e7-c795-42bd-8311-bc9f71fabd0a/setlists.json","mbid":"4b0dd5e7-c795-42bd-8311-bc9f71fabd0a","href":"http://api.songkick.com/api/3.0/artists/mbid:4b0dd5e7-c795-42bd-8311-bc9f71fabd0a.json"}],"uri":"http://www.songkick.com/artists/231185-counterparts?utm_source=4791&utm_medium=partner","displayName":"Counterparts","id":231185},{"uri":"http://www.songkick.com/artists/6061844-counterparts-facts?utm_source=4791&utm_medium=partner","displayName":"Counterparts
        Facts","onTourUntil":null,"identifier":[],"id":6061844},{"onTourUntil":"2014-05-30","identifier":[],"uri":"http://www.songkick.com/artists/8014278-counterparts-structures?utm_source=4791&utm_medium=partner","displayName":"Counterparts
        Structures","id":8014278},{"onTourUntil":null,"identifier":[],"uri":"http://www.songkick.com/artists/7085559-hundredth-counterparts-being-as-an-ocean-heart-to-heart?utm_source=4791&utm_medium=partner","displayName":"Hundredth!
        Counterparts. Being As an Ocean. Heart to Heart","id":7085559}]},"perPage":50,"page":1,"totalEntries":4}}'
  recorded_at: Thu, 17 Apr 2014 02:06:47 GMT
recorded_with: VCR 2.5.0
