---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/events/786417/setlists.json?apikey=hFYxiInE4DBpH5KL
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"ok","results":{"setlist":[{"performance":{"id":1127982},"artist":{"identifier":[{"mbid":"9e53f84d-ef44-4c16-9677-5fd4d78cbd7d","href":"http://api.songkick.com/api/3.0/artists/mbid:9e53f84d-ef44-4c16-9677-5fd4d78cbd7d.json","eventsHref":"http://api.songkick.com/api/3.0/artists/mbid:9e53f84d-ef44-4c16-9677-5fd4d78cbd7d/calendar.json","setlistsHref":"http://api.songkick.com/api/3.0/artists/mbid:9e53f84d-ef44-4c16-9677-5fd4d78cbd7d/setlists.json"}],"displayName":"Wilco","uri":"http://www.songkick.com/artists/61494-wilco?utm_source=4791&utm_medium=partner","onTourUntil":"2013-10-11","id":61494},"id":15061,"setlistItem":[{"encore":0,"name":"Wilco
        (The Song)"},{"encore":0,"name":"I Am Trying To Break Your Heart"},{"encore":0,"name":"Company
        In My Back"},{"encore":0,"name":"Bull Black Nova"},{"encore":0,"name":"You
        Are My Face"},{"encore":0,"name":"One Wing"},{"encore":0,"name":"A Shot in
        the Arm"},{"encore":0,"name":"Radio Cure"},{"encore":0,"name":"Handshake Drugs"},{"encore":0,"name":"Nothing''severgonnastandinmyway
        (again)"},{"encore":0,"name":"Deeper Down"},{"encore":0,"name":"Impossible
        Germany"},{"encore":0,"name":"You Never Know"},{"encore":0,"name":"Jesus,
        Etc."},{"encore":0,"name":"Can''t Stand It"},{"encore":0,"name":"Hate It Here"},{"encore":0,"name":"Walken"},{"encore":0,"name":"I''m
        The Man Who Loves You"},{"encore":1,"name":"At Least That''s What You Said"},{"encore":1,"name":"Forget
        The Flowers"},{"encore":1,"name":"Heavy Metal Drummer"},{"encore":1,"name":"Spiders
        (Kidsmoke) [We Are The Champions]"},{"encore":1,"name":"I''m A Wheel"},{"encore":1,"name":"Hoodoo
        Voodoo"}],"displayName":"Wilco at Troxy (25 Aug 09)"}]}}}'
  recorded_at: Fri, 12 Jul 2013 04:57:33 GMT
recorded_with: VCR 2.2.4
