---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/users/fffffffbbbbbbbbaaaarrrrrrrr/artists/tracked.json?apikey=hFYxiInE4DBpH5KL
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"error","error":{"message":"User not found"}}}'
  recorded_at: Mon, 20 Aug 2012 17:27:42 GMT
recorded_with: VCR 2.2.4
