---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/events/17522.json?apikey=omgwtfbbq_fake_key
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      status:
      - 403 Forbidden
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"error","error":{"message":"Invalid or missing
        apikey"}}}'
  recorded_at: Sun, 07 Jul 2013 22:05:18 GMT
recorded_with: VCR 2.5.0
