---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/events/123.json?apikey=omgwtfbbq_fake_key
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"error","error":{"message":"Invalid or missing
        apikey"}}}'
  recorded_at: Mon, 20 Aug 2012 17:27:42 GMT
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/events/17522.json?apikey=omgwtfbbq_fake_key
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"error","error":{"message":"Invalid or missing
        apikey"}}}'
  recorded_at: Mon, 20 Aug 2012 17:39:30 GMT
recorded_with: VCR 2.2.4
