---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/venues/123123123123123123123123.json?apikey=hFYxiInE4DBpH5KL
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      status:
      - 404 Not Found
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"error","error":{"message":"Resource not
        found"}}}'
  recorded_at: Sat, 29 Jun 2013 03:11:54 GMT
recorded_with: VCR 2.5.0
