---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/events/123123123123123123123123.json?apikey=hFYxiInE4DBpH5KL
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      status:
      - 404 Not Found
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"error","error":{"message":"Resource not
        found"}}}'
  recorded_at: Sun, 07 Jul 2013 22:05:21 GMT
recorded_with: VCR 2.5.0
