---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/search/locations.json?apikey=hFYxiInE4DBpH5KL&location=geo%3A51.5078%2C-0.128
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"ok","results":{"location":[{"city":{"lat":51.5078,"lng":-0.128,"country":{"displayName":"UK"},"displayName":"London"},"metroArea":{"lat":51.5078,"lng":-0.128,"country":{"displayName":"UK"},"uri":"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=4791&utm_medium=partner","displayName":"London","id":24426}},{"city":{"lat":51.5333,"lng":-0.1,"country":{"displayName":"UK"},"displayName":"Islington"},"metroArea":{"lat":51.5078,"lng":-0.128,"country":{"displayName":"UK"},"uri":"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=4791&utm_medium=partner","displayName":"London","id":24426}},{"city":{"lat":51.55,"lng":-0.183333,"country":{"displayName":"UK"},"displayName":"Hampstead"},"metroArea":{"lat":51.5078,"lng":-0.128,"country":{"displayName":"UK"},"uri":"http://www.songkick.com/m[...]
