---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/artists/521019/similar_artists.json?apikey=hFYxiInE4DBpH5KL
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"ok","results":{"artist":[{"identifier":[{"eventsHref":"http://api.songkick.com/api/3.0/artists/mbid:ac2d1c91-3667-46aa-9fe7-170ca7fce9e2/calendar.json","setlistsHref":"http://api.songkick.com/api/3.0/artists/mbid:ac2d1c91-3667-46aa-9fe7-170ca7fce9e2/setlists.json","href":"http://api.songkick.com/api/3.0/artists/mbid:ac2d1c91-3667-46aa-9fe7-170ca7fce9e2.json","mbid":"ac2d1c91-3667-46aa-9fe7-170ca7fce9e2"}],"displayName":"Godsmack","onTourUntil":"2013-08-10","uri":"http://www.songkick.com/artists/318367-godsmack?utm_source=4791&utm_medium=partner","id":318367},{"onTourUntil":null,"displayName":"Disturbed","uri":"http://www.songkick.com/artists/455175-disturbed?utm_source=4791&utm_medium=partner","identifier":[{"eventsHref":"http://api.songkick.com/api/3.0/artists/mbid:4bb4e4e4-5f66-4509-98af-62dbb90c45c5/calendar.json","setlistsHref":"http://api.songkick.com/api/3.0/artists/mbid:4bb4e4e4-5f66-4509-98af-62dbb90c45c5/setlists.json","mbid":"4bb4e4e4-5f66-4509-98af-62dbb90c45c5","href":"http://api.songkick.com/api/3.0/artists/mbid:4bb4e4e4-5f66-45[...]
