---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/users/jrmehle/artists/tracked.json?apikey=hFYxiInE4DBpH5KL
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"ok","results":{"artist":[{"identifier":[{"mbid":"ba85753c-671a-409e-b813-1e3be41e2a2e","href":"http://api.songkick.com/api/3.0/artists/mbid:ba85753c-671a-409e-b813-1e3be41e2a2e.json","eventsHref":"http://api.songkick.com/api/3.0/artists/mbid:ba85753c-671a-409e-b813-1e3be41e2a2e/calendar.json","setlistsHref":"http://api.songkick.com/api/3.0/artists/mbid:ba85753c-671a-409e-b813-1e3be41e2a2e/setlists.json"}],"displayName":"3
        Inches of Blood","uri":"http://www.songkick.com/artists/185566-3-inches-of-blood?utm_source=4791&utm_medium=partner","onTourUntil":"2013-08-23","id":185566},{"identifier":[{"eventsHref":"http://api.songkick.com/api/3.0/artists/mbid:781167d7-b9e5-48ea-9f66-67c4a6739562/calendar.json","setlistsHref":"http://api.songkick.com/api/3.0/artists/mbid:781167d7-b9e5-48ea-9f66-67c4a6739562/setlists.json","href":"http://api.songkick.com/api/3.0/artists/mbid:781167d7-b9e5-48ea-9f66-67c4a6739562.json","mbid":"781167d7-b9e5-48ea-9f66-67c4a6739562"}],"displayName":"36
        Crazyfists","onTourUntil":"2013-11-16","uri":"http://www.songkick.com/artists/1149[...]
