---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/users/jrmehle/artists/muted.json?apikey=hFYxiInE4DBpH5KL
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"ok","results":{"artist":[{"onTourUntil":"2013-08-04","identifier":[{"setlistsHref":"http://api.songkick.com/api/3.0/artists/mbid:bf600e2b-dc2d-4839-a1be-6ebef4087cd0/setlists.json","mbid":"bf600e2b-dc2d-4839-a1be-6ebef4087cd0","href":"http://api.songkick.com/api/3.0/artists/mbid:bf600e2b-dc2d-4839-a1be-6ebef4087cd0.json","eventsHref":"http://api.songkick.com/api/3.0/artists/mbid:bf600e2b-dc2d-4839-a1be-6ebef4087cd0/calendar.json"}],"uri":"http://www.songkick.com/artists/486064-311?utm_source=4791&utm_medium=partner","displayName":"311","id":486064},{"identifier":[{"eventsHref":"http://api.songkick.com/api/3.0/artists/mbid:18c7e22d-6831-4746-b389-6ec11132409c/calendar.json","setlistsHref":"http://api.songkick.com/api/3.0/artists/mbid:18c7e22d-6831-4746-b389-6ec11132409c/setlists.json","mbid":"18c7e22d-6831-4746-b389-6ec11132409c","href":"http://api.songkick.com/api/3.0/artists/mbid:18c7e22d-6831-4746-b389-6ec11132409c.json"}],"uri":"http://www.songkick.com/artists/1728952-a-bitter-farewell?utm_source=4791&utm_medium=partner","onTour[...]
