---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/users/jrmehle/metro_areas/tracked.json?apikey=hFYxiInE4DBpH5KL
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"ok","results":{"metroArea":[{"lat":44.9801,"lng":-93.2519,"country":{"displayName":"US"},"uri":"http://www.songkick.com/metro_areas/35130-us-twin-cities?utm_source=4791&utm_medium=partner","state":{"displayName":"MN"},"displayName":"Twin
        Cities","id":35130}]},"perPage":50,"page":1,"totalEntries":1}}'
  recorded_at: Sun, 28 Jul 2013 05:52:34 GMT
recorded_with: VCR 2.5.0
