---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0users/jrmehle/trackings/metro_area:35130.json?apikey=hFYxiInE4DBpH5KL
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      status:
      - 404 Not Found
      content-type:
      - application/json; charset=utf-8
      x-cascade:
      - pass
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"error","error":{"message":"Resource not
        found"}}}'
  recorded_at: Sun, 28 Jul 2013 05:55:32 GMT
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/users/jrmehle/trackings/metro_area:35130.json?apikey=hFYxiInE4DBpH5KL
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"ok","results":{"tracking":{"username":"jrmehle","id":"metro_area:35130","createdAt":"2009-06-11T17:17:52Z"}}}}'
  recorded_at: Sun, 28 Jul 2013 05:58:41 GMT
recorded_with: VCR 2.5.0
