---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/users/jrmehle/calendar.json?reason=attendance&apikey=hFYxiInE4DBpH5KL
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"ok","results":{"calendarEntry":[{"reason":{"attendance":"i_might_go"},"event":{"type":"Concert","status":"ok","displayName":"Oceano
        with Reflections, Sworn In, and Adestria at The Garage (August 19, 2013)","popularity":0.0,"start":{"time":"17:30:00","date":"2013-08-19","datetime":"2013-08-19T17:30:00-0600"},"location":{"city":"Burnsville,
        MN, US","lat":44.7657691,"lng":-93.2743603},"uri":"http://www.songkick.com/concerts/17472154-oceano-at-garage?utm_source=4791&utm_medium=partner","id":17472154,"performance":[{"billingIndex":1,"billing":"headline","displayName":"Oceano","artist":{"identifier":[{"href":"http://api.songkick.com/api/3.0/artists/mbid:d2ad541b-55d1-48bf-bdf1-ef0c3d3518e2.json","mbid":"d2ad541b-55d1-48bf-bdf1-ef0c3d3518e2"},{"href":"http://api.songkick.com/api/3.0/artists/mbid:06c2da57-090e-46b8-a671-0e085618ab61.json","mbid":"06c2da57-090e-46b8-a671-0e085618ab61"}],"displayName":"Oceano","uri":"http://www.songkick.com/artists/2050016-oceano?utm_source=4791&utm_medium=partner","id":2050016},"id":34584889},{"billingIndex":2,"billing":"support","displayName":"Reflections","artist":{"identifier":[{"href":"http://api.songkick.com/api/3.0/artists/mbid:c03e760f-c289-45c2-b5b3-d8cd2[...]
