---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/venues/1054/calendar.json?apikey=hFYxiInE4DBpH5KL
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"ok","results":{"event":[{"type":"Concert","status":"ok","displayName":"Chloe
        Von Massacre at Target Center (July 14, 2013)","start":{"time":null,"date":"2013-07-14","datetime":null},"location":{"city":"Minneapolis,
        MN, US","lat":44.979657,"lng":-93.274889},"uri":"http://www.songkick.com/concerts/17336449-chloe-von-massacre-at-target-center?utm_source=4791&utm_medium=partner","popularity":0.0,"id":17336449,"performance":[{"billingIndex":1,"displayName":"Chloe
        Von Massacre","billing":"headline","artist":{"identifier":[],"displayName":"Chloe
        Von Massacre","uri":"http://www.songkick.com/artists/7069239-chloe-von-massacre?utm_source=4791&utm_medium=partner","id":7069239},"id":34308584}],"venue":{"metroArea":{"displayName":"Twin
        Cities","uri":"http://www.songkick.com/metro_areas/35130-us-twin-cities?utm_source=4791&utm_medium=partner","id":35130,"state":{"displayName":"MN"},"country":{"displayName":"US"}},"displayName":"Target
        Center","lat":44.979657,"lng":-93.274889,"uri":"http://www.songkick.com/venues/1054-target-center?utm_source=4791&utm_medium=partner","id":1054}},{"type":"Concert","status":"ok","displayName":"One
        Direction with 5 Seconds of Summer at Target Center (July 18, 2013)","start":{"time":"19:30:00","date":"2013-07-18","datetime":"2013-07-18T19:30:00-0600"},"location":{"city":"Minneapolis,
        MN, US","lat":44.979657,"lng":-93.274889},"uri":"http://www.songkick.com/concerts/12474588-one-direction-at-target-center?utm_source=4791&utm_medium=partner","popularity":0.220346,"id":12474588,"performance":[{"billingIndex":1,"billing":"headline","displayName":"One
        Direction","artist":{"identifier":[{"mbid":"1a425bbd-cca4-4b2c-aeb7-71cb176c828a","href":"http://api.songkick.com/api/3.0/artists/mbid:1a425bbd-cca4-4b2c-aeb7-71cb176c828a.json"},{"mbid":"3fedf601-0039-4ba4-af53-7b6d1ff5b69a","href":"http://api.songkick.com/api/3.0/artists/mbid:3fedf601-0039-4ba4-af53-7b6d1ff5b69a.json"}],"displayName":"One
        Direction","uri":"http://www.songkick.com/artists/3732956-one-direction?utm_source=4791&utm_medium=partner","id":3732956},"id":24303923},{"billingIndex":2,"billing":"support","displayName":"5
        Seconds of Summer","artist":{"identifi[...]
